<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mario.gii_14b" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Perfil"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:label="Menú principal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".RegistroGlucemias"
            android:label="Registro de glucemias"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.mario.gii_14b.MenuPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mario.gii_14b.MenuPrincipal" />
        </activity>
        <activity
            android:name=".ActividadFisica"
            android:label="Actividad física"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.mario.gii_14b.RegistroGlucemias" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mario.gii_14b.RegistroGlucemias" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Carbohidratos"
            android:label="Recuento de carbohidratos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.mario.gii_14b.ActividadFisica" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mario.gii_14b.ActividadFisica" />
        </activity>
        <activity
            android:name=".Incidencias"
            android:label="@string/title_activity_incidencias"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.mario.gii_14b.RegistroGlucemias" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mario.gii_14b.RegistroGlucemias" />
        </activity>
        <activity android:name=".Launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Historial"
            android:label="@string/title_activity_historial"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
